body{
    background-color: pink;
}
.container1{
    padding-left:10px;
    padding-bottom:5px;
    border-bottom: 1px solid #fdfdfd;
    font-size: 1.2rem;
    font-family: 'Bebas Neue', sans-serif;
}
.container2{
    padding-top:35px;
    justify-content: center;
    text-align: center;
}
.row>img{
    width: 640px;
    height: 480px;
}
form{   
    display: inline-block;
    margin-bottom:10px;
    padding-right: 28rem;
}
form>*{
    margin: 0px 10px 0px;
    vertical-align: middle;
}
label{
    border: solid 2px orange;
    font-size: 1rem;
    cursor:pointer;
    padding:.2rem .25rem;
    border-radius: .25rem;
    background-color: #fdfdfd;
}
label:hover{
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff85;
}
#chooseFile {
    display: None;
}
#submit{
    font-size: 1rem;
    padding:.25rem .5rem;
    border-radius: .25rem;
    border:2px solid orange;
    background-color: #fdfdfd;
    cursor:pointer
}
#submit:hover{
    box-shadow: 0rem 0.4rem 0.5rem -0.4rem #f1ff85;
}